:root { 
  --elementBg: rgba(46,51,56,0.8);
  --elementBg--hover: rgba(60, 65, 70, 0.9);
  --icoActive: #2E3338;
  --elementBg--sec: rgba(64,73,82,0.8);
  --trans: 0.3s ease;
  --blur: blur(15px);
}


body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}